<h1>Semantic use of new Color swatches</h1>
<div class="container semantic">
  <section>
    <h2>Colors</h2>
    <div class="swatch-container semantic">
      <div class="swatch text-default ">
        <div>Text Default</div>
      </div>
      <div class="swatch text-subtle">
        <div>Text Subtle</div>
      </div>
      <div class="swatch link-default">
        <div>Link Default</div>
      </div>
      <div class="swatch link-active">
        <div>Link Active</div>
      </div>

    </div>
  </section>
  <section>
    <h2>Background</h2>
    <div class="swatch-container semantic">
      <div class="swatch surface-1 ">
        <div>Surface Level 1</div>
      </div>
      <div class="swatch surface-2 ">
        <div>Surface Level 2</div>
      </div>
      <div class="swatch surface-3">
        <div>Surface Level 3</div>
      </div>
      <div class="swatch surface-4 ">
        <div>Surface Level 4</div>
      </div>
  </section>
  <section>
    <h2>Border</h2>
    <div class="swatch-container semantic">
      <div class="swatch divider-subtle ">
        <div>Divider Subtle</div>
      </div>
      <div class="swatch form-default ">
        <div>Form Default</div>
      </div>

  </section>
  <section>
    <h2>Usage</h2>
    <pre><code>
.text-default {
  background-color: var(--gray-950);
}
.text-subtle {
  background-color: var(--gray-600);
}
.link-default {
  background-color: var(--violet-700);
}
.link-active {
  background-color: var(--violet-800);
}
.surface-1 {
  background-color: var(--gray-100);
}
.surface-2 {
  background-color: var(--white);
}
.surface-3 {
  background-color: var(--gray-50);
}
.surface-4 {
  background-color: var(--white);
}
.divider-subtle {
  background-color: var(--gray-200);
}
.form-default {
  background-color: var(--gray-500);
}
      </code></pre>
  </section>
</div>
<hr>
<h1>New Color swatches</h1>
<p>🖍 Colors used as a reference for a sementic color name, are outlined.</p>
<div class="container">
  <section>
    <h3>White</h3>
    <div class="swatch-container white">
      <div class="swatch selected ">
        <div>White </div>
      </div>
  </section>
  <section>
    <h3>Violet</h3>

    <div class="swatch-container violet">
      <div class="swatch swatch-50 ">
        <div>50 </div>
      </div>
      <div class="swatch swatch-100">
        <div>100</div>
      </div>
      <div class="swatch swatch-200">
        <div>200</div>
      </div>
      <div class="swatch swatch-300">
        <div>300</div>
      </div>
      <div class="swatch swatch-400">
        <div>400</div>
      </div>
      <div class="swatch swatch-500">
        <div>500</div>
      </div>
      <div class="swatch swatch-600">
        <div>600</div>
      </div>
      <div class="swatch swatch-700 selected">
        <div>700</div>
      </div>
      <div class="swatch swatch-800 selected">
        <div>800</div>
      </div>
      <div class="swatch swatch-900">
        <div>900</div>
      </div>
      <div class="swatch swatch-950">
        <div>950</div>
      </div>
    </div>

  </section>
  <section>
    <h3>Gray</h3>

    <div class="swatch-container gray">
      <div class="swatch swatch-50 selected">
        <div>50 </div>
      </div>
      <div class="swatch swatch-100 selected">
        <div>100</div>
      </div>
      <div class="swatch swatch-200 selected">
        <div>200</div>
      </div>
      <div class="swatch swatch-300">
        <div>300</div>
      </div>
      <div class="swatch swatch-400">
        <div>400</div>
      </div>
      <div class="swatch swatch-500 selected">
        <div>500</div>
      </div>
      <div class="swatch swatch-600 selected">
        <div>600</div>
      </div>
      <div class="swatch swatch-700">
        <div>700</div>
      </div>
      <div class="swatch swatch-800">
        <div>800</div>
      </div>
      <div class="swatch swatch-900">
        <div>900</div>
      </div>
      <div class="swatch swatch-950 selected">
        <div>950</div>
      </div>
    </div>

  </section>
  <section>
    <h3>Pink</h3>
    <div class="swatch-container pink">
      <div class="swatch swatch-50 ">
        <div>50 </div>
      </div>
      <div class="swatch swatch-100">
        <div>100</div>
      </div>
      <div class="swatch swatch-200">
        <div>200</div>
      </div>
      <div class="swatch swatch-300">
        <div>300</div>
      </div>
      <div class="swatch swatch-400">
        <div>400</div>
      </div>
      <div class="swatch swatch-500">
        <div>500</div>
      </div>
      <div class="swatch swatch-600">
        <div>600</div>
      </div>
      <div class="swatch swatch-700">
        <div>700</div>
      </div>
      <div class="swatch swatch-800">
        <div>800</div>
      </div>
      <div class="swatch swatch-900">
        <div>900</div>
      </div>
      <div class="swatch swatch-950">
        <div>950</div>
      </div>
    </div>

  </section>
  <section>
    <h3>Red</h3>
    <div class="swatch-container red">
      <div class="swatch swatch-50 ">
        <div>50 </div>
      </div>
      <div class="swatch swatch-100">
        <div>100</div>
      </div>
      <div class="swatch swatch-200">
        <div>200</div>
      </div>
      <div class="swatch swatch-300">
        <div>300</div>
      </div>
      <div class="swatch swatch-400">
        <div>400</div>
      </div>
      <div class="swatch swatch-500">
        <div>500</div>
      </div>
      <div class="swatch swatch-600">
        <div>600</div>
      </div>
      <div class="swatch swatch-700">
        <div>700</div>
      </div>
      <div class="swatch swatch-800">
        <div>800</div>
      </div>
      <div class="swatch swatch-900">
        <div>900</div>
      </div>
      <div class="swatch swatch-950">
        <div>950</div>
      </div>
    </div>

  </section>

  <section>
    <h3>Orange</h3>
    <div class="swatch-container orange">
      <div class="swatch swatch-50 ">
        <div>50 </div>
      </div>
      <div class="swatch swatch-100">
        <div>100</div>
      </div>
      <div class="swatch swatch-200">
        <div>200</div>
      </div>
      <div class="swatch swatch-300">
        <div>300</div>
      </div>
      <div class="swatch swatch-400">
        <div>400</div>
      </div>
      <div class="swatch swatch-500">
        <div>500</div>
      </div>
      <div class="swatch swatch-600">
        <div>600</div>
      </div>
      <div class="swatch swatch-700">
        <div>700</div>
      </div>
      <div class="swatch swatch-800">
        <div>800</div>
      </div>
      <div class="swatch swatch-900">
        <div>900</div>
      </div>
      <div class="swatch swatch-950">
        <div>950</div>
      </div>
    </div>

  </section>

  <section>
    <h3>Yellow</h3>

    <div class="swatch-container yellow">
      <div class="swatch swatch-50 ">
        <div>50 </div>
      </div>
      <div class="swatch swatch-100">
        <div>100</div>
      </div>
      <div class="swatch swatch-200">
        <div>200</div>
      </div>
      <div class="swatch swatch-300">
        <div>300</div>
      </div>
      <div class="swatch swatch-400">
        <div>400</div>
      </div>
      <div class="swatch swatch-500">
        <div>500</div>
      </div>
      <div class="swatch swatch-600">
        <div>600</div>
      </div>
      <div class="swatch swatch-700">
        <div>700</div>
      </div>
      <div class="swatch swatch-800">
        <div>800</div>
      </div>
      <div class="swatch swatch-900">
        <div>900</div>
      </div>
      <div class="swatch swatch-950">
        <div>950</div>
      </div>
    </div>

  </section>
  <section>
    <h3>Green</h3>

    <div class="swatch-container green">
      <div class="swatch swatch-50 ">
        <div>50 </div>
      </div>
      <div class="swatch swatch-100">
        <div>100</div>
      </div>
      <div class="swatch swatch-200">
        <div>200</div>
      </div>
      <div class="swatch swatch-300">
        <div>300</div>
      </div>
      <div class="swatch swatch-400">
        <div>400</div>
      </div>
      <div class="swatch swatch-500">
        <div>500</div>
      </div>
      <div class="swatch swatch-600">
        <div>600</div>
      </div>
      <div class="swatch swatch-700">
        <div>700</div>
      </div>
      <div class="swatch swatch-800">
        <div>800</div>
      </div>
      <div class="swatch swatch-900">
        <div>900</div>
      </div>
      <div class="swatch swatch-950">
        <div>950</div>
      </div>
    </div>

  </section>
  <section>
    <h3>Seagreen</h3>

    <div class="swatch-container seagreen">
      <div class="swatch swatch-50 ">
        <div>50 </div>
      </div>
      <div class="swatch swatch-100">
        <div>100</div>
      </div>
      <div class="swatch swatch-200">
        <div>200</div>
      </div>
      <div class="swatch swatch-300">
        <div>300</div>
      </div>
      <div class="swatch swatch-400">
        <div>400</div>
      </div>
      <div class="swatch swatch-500">
        <div>500</div>
      </div>
      <div class="swatch swatch-600">
        <div>600</div>
      </div>
      <div class="swatch swatch-700">
        <div>700</div>
      </div>
      <div class="swatch swatch-800">
        <div>800</div>
      </div>
      <div class="swatch swatch-900">
        <div>900</div>
      </div>
      <div class="swatch swatch-950">
        <div>950</div>
      </div>
    </div>

  </section>

  <section>
    <h3>Blue</h3>

    <div class="swatch-container blue">
      <div class="swatch swatch-50 ">
        <div>50 </div>
      </div>
      <div class="swatch swatch-100">
        <div>100</div>
      </div>
      <div class="swatch swatch-200">
        <div>200</div>
      </div>
      <div class="swatch swatch-300">
        <div>300</div>
      </div>
      <div class="swatch swatch-400">
        <div>400</div>
      </div>
      <div class="swatch swatch-500">
        <div>500</div>
      </div>
      <div class="swatch swatch-600">
        <div>600</div>
      </div>
      <div class="swatch swatch-700">
        <div>700</div>
      </div>
      <div class="swatch swatch-800">
        <div>800</div>
      </div>
      <div class="swatch swatch-900">
        <div>900</div>
      </div>
      <div class="swatch swatch-950">
        <div>950</div>
      </div>
    </div>

  </section>

</div>

<!-- <hr>
<h1>Current Color swatches</h1>
<div class="container">
  <section>
    <h2>Figma Colors:</h2>
    <div class="swatch-container figma">
      <div class="swatch swatch1"></div>
      <div class="swatch swatch2"></div>
      <div class="swatch swatch3"></div>
      <div class="swatch swatch4"></div>
      <div class="swatch swatch5"></div>
      <div class="swatch swatch6"></div>
      <div class="swatch swatch7"></div>
      <div class="swatch swatch8"></div>
      <div class="swatch swatch9"></div>
      <div class="swatch swatch10"></div>
      <div class="swatch swatch11"></div>
      <div class="swatch swatch12"></div>
      <div class="swatch swatch13"></div>
      <div class="swatch swatch14"></div>
      <div class="swatch swatch15"></div>
      <div class="swatch swatch16"></div>
      <div class="swatch swatch17"></div>
      <div class="swatch swatch18"></div>
      <div class="swatch swatch19"></div>
      <div class="swatch swatch20"></div>
      <div class="swatch swatch21"></div>

    </div>
  </section>

  <section>

    <h2>Code Colors:</h2>
    <div class="swatch-container code">
      <div class="swatch swatch1"></div>
      <div class="swatch swatch2"></div>
      <div class="swatch swatch3"></div>
      <div class="swatch swatch4"></div>
      <div class="swatch swatch5"></div>
      <div class="swatch swatch6"></div>
      <div class="swatch swatch7"></div>
      <div class="swatch swatch8"></div>
      <div class="swatch swatch9"></div>
      <div class="swatch swatch10"></div>
      <div class="swatch swatch11"></div>
      <div class="swatch swatch12"></div>
      <div class="swatch swatch13"></div>
      <div class="swatch swatch14"></div>
      <div class="swatch swatch15"></div>
      <div class="swatch swatch16"></div>
      <div class="swatch swatch17"></div>
      <div class="swatch swatch18"></div>
      <div class="swatch swatch19"></div>
      <div class="swatch swatch20"></div>
      <div class="swatch swatch21"></div>

    </div> -->
  </section>
</div>